:root{
    --bg: #ffcbe5;
    --card: #ffeff0;
    --text: #111827;
    --muted: #6b7280;
    --primary: #eb2560;
    --danger: #dc2626;
    --ok: #16a34a;
    --space: 16px;
    --radius: 12px;
}

body{
    background: var(--bg);
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--text)
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: var(--space);
}

.card{
    background: var(--card);
    padding: var(--space);
    border-radius: var(--radius);
    margin-bottom: var(--space);
}

button{
    background: var(--primary);
    color: white;
    padding: 2px 8px; 
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}

li{
    display: flex;
    justify-content: space-between;
}
